@page "/terms"
@using CoAntiCor.Resources
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> Localizer
<h3>@Localizer["TermsOfUse"]</h3>
<p>@Localizer["IntroText"]</p>
<PageTitle>Terms Of Use</PageTitle>

<h1>Terms Of Use</h1>



@code {
   
}
